body {
  background:
    linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),
    url("images/light.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}


.hero img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1{ 
font-family: "Goudy Old Style", Garamond, serif;
  color: rgba(115, 132, 77, 1);

}
.page {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;

  background: rgba(255,255,255,0.85);
  border-radius: 12px;
}
p {
  font-size: 20px;
  border-radius: 12px;
  border: 3px solid darkgrey
}
  @media (max-width: 600px) {.page {
    margin: 0;
    border-radius: 0;
    padding:12px;
  }
                             
  h1 {
    font-size: 1.8rem;
  }

}
