body {
  background:
    linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
    url("images/light.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.hero {
  background-image: url("images/dark.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 12px;
  margin: 20px 0;
}
