body {
  background:
    linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),
    url("images/light.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;


.hero img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {font-family: goudy-old-style;}
