body {
  background:
    linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),
    url("images/light.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;


}

.hero {
  background-image: url("images/dark.png");
  background-size: cover;
  background-position: center;
  height: 100px;
  border-radius: 12px;
  margin: 0;
}
