
body {
  background-image: url("1769979231396-82bbf1d3-6e68-41cb-830hgg2-61889aafbf6c.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  background-image: url("images/dark-map.png");
  background-size: cover;
  background-position: center;
  height: 300px;
}
